@font-face {
    font-family: "iceberg";
    src: url("/src/assets/fonts/Iceberg/Iceberg-Regular.ttf");
}

@font-face {
    font-family: "Tsukimi Rounded";
    src: url("/src/assets/fonts/Tsukimi_Rounded/TsukimiRounded-Regular.ttf");
}

body {
    background: #2C4B82;
}

.title {
    /* text-shadow: 4px 4px #000; */
    /* Add a shadow to create an outline effect */
    color: #F8B4A7;
    text-align: center;
    font-family: Iceberg;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;
}

.container {
    margin: 40px;
}

.container1 {
    margin: 0px 100px;
    display: flex;
    align-items: center;
    column-gap: 250px;
    justify-content: center;
}

.animation {
    width: 405px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url("./src/assets/img/4aac72136682c71aaa41ed34f20aea8c.gif") 50%;
    background-size: cover;
}

.code-sym {
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 45px;

}

.major-btn {
    width: 344px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F8B4A7;
    border: none;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Tsukimi Rounded";
    font-size: 20px;
    font-weight: 800px;
    line-height: normal;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}


.outline {
    border: black solid 1px;
        background: #fa6d51; 
}

.start-btn {
    cursor: pointer;
    width: 344px;
    height: 51.59px;
    flex-shrink: 0;
    border-radius: 5px;
    background: linear-gradient(123deg, #3550DC -35.72%, #27E9F7 172.73%);
    border: none;
    font-family: Tsukimi Rounded;
    font-weight: bolder;
    
}
    .start-btn:active {
        background: linear-gradient(123deg, #1c3bd3 -35.72%, #10aeb9 172.73%);
        transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;      
    }